﻿@model List<RiskManagement.Models.RiskViewModel>
@{
    ViewBag.Title = "UnusualWins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unusual Rate Wins</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Event</th>
            <th>Stake</th>
            <th>to Win</th>
            <th>Risky</th>
            <th>Unusual</th>
            <th>Highly Unusual</th>
            <th>Can Win Large Money</th>
        </tr>
    </thead>
    @foreach (var risk in Model)
    {
        <tr>
            <td>@risk.CustomerId</td>
            <td>@risk.EventId</td>
            <td>@risk.Stake</td>
            <td>@risk.Amount</td>
            <td class='@(risk.IsRisky ? "risky" : "")'>@risk.IsRisky</td>
            <td class='@(risk.IsUnusual ? "unusual" : "")'>@risk.IsUnusual</td>
            <td class='@(risk.IsHighlyUnusual ? "higly" : "")'>@risk.IsHighlyUnusual</td>
            <td class='@(risk.CanWonLargeAmount ? "largeMoney" : "")'>@risk.CanWonLargeAmount</td>
        </tr>
    }
</table>