﻿@model List<RiskManagement.Models.CustomerViewModel>
@{
    ViewBag.Title = "UnusualWins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unusual Rate Wins</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Number Of Betting</th>
            <th>Number Of Win</th>
            <th>Total Stake</th>
            <th>Total Win</th>
        </tr>
    </thead>
    @foreach (var bet in Model)
    {
        <tr>
            <td>@bet.Id</td>
            <td>@bet.NumbetOfBetting</td>
            <td>@bet.NumbetOfWin</td>
            <td>@bet.TotalStake</td>
            <td>@bet.TotalWin</td>
        </tr>
    }
</table>